Config { font = "xft: Meslo LG M for Powerline:style=Medium:pixelsize=31"
       , additionalFonts = [
	"xft:Font Awesome 5 Free Solid:style=Solid:pixelsize=31",
	"xft:Font Awesome 5 Free Regular:style=Regular:pixelsize=31"
       ]
       , borderColor = "black"
       , border = TopB
       , bgColor = "black"
       , fgColor = "white"
       , alpha = 128
       , position = Top
       , textOffset = -1
       , iconOffset = -1
       , lowerOnStart = True
       , pickBroadest = False
       , persistent = False
       , hideOnStart = False
       , iconRoot = "/home/alessio/.config/xmobar/xpm/"  -- default: "."
       , allDesktops = True
       , overrideRedirect = True
       , commands = [ Run Network "enp0s31f6" ["-t", "<fn=1></fn> <rx>kb / <fn=1></fn> <tx>kb"] 20
		      , Run Cpu ["-t", "<total>%","-H","50","--high","red"] 20
                    , Run Memory ["-t","<usedratio>% / <used> MB"] 10
                    , Run Com "uname" ["-s","-r"] "" 36000
                    , Run Weather "EGPF" ["-t", "<station>: <tempC>C"] 36000
                    , Run Date "%a %b %_d %Y %H:%M" "date" 10
                    ]
       , sepChar = "%"
       , alignSep = "}{"
       , template = "  <fc=#db83ed><icon=haskell_20.xpm/></fc> ❯ <fn=1></fn> %cpu% ❯ <fn=1></fn> %memory% ❯ %enp0s31f6% }\
                    \{ <fn=1></fn> %date% ❯ %weather% ❯ <icon=tux_icon_12.xpm/> %uname% "
       }
